<div class="element-left">
  <div class="element-bg-img"><img [src]="selectedResort.img" alt="" class="img-responsive"></div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <ul>
        <li
          *ngFor="let type of resortTypes; let last = last;"
          [class.anc-bor]="type === last"
        ><a href="#">{{type}}</a></li>
      </ul>
    </div>
    <div class="village">
      <h3>Righteous indignation & like</h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <div *ngFor="let resort of currentResorts;" class="activity-row" (click)="selectResort(resort)">
            <div class="activity-desc">
              <h5>Resort Address</h5>
              <p *ngFor="let addressLine of resort.address.split('\n')">{{addressLine}}</p>
<!--              TODO: fix phone number rendering using pipe 'Tel:+1285 968 685'-->
              <h6>{{resort.phone}}</h6>
            </div>
            <div class="activity-img">
              <ul>
                <li><img [src]='resort.leftImgPreview' alt=""/></li>
                <li><img [src]='resort.rightImgPreview' alt=""/></li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
